.App {
  background-color: #eee;
  width: 100vw;
  height: 100vw;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: white;
  border: #aaa 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

button {
  width: 150px;
  margin-top: 20px;;
}

input {
  width: 150px;
}